
.bt_tagcloud {
	 float: right;
	width: 30%;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: black !important;
}

#taglist a {
	 color: #FFF;
	 background-color: #036;
	 width: 9em;
	 padding: 1px 12px 1px 8px;
	 text-decoration: none;
	 font: 70% sans-serif;
}

ul#navigate {
	 padding: 10px 12px 10px 8px;
	 list-style-type:none;
	 text-align: center;
	 margin:0;
}
#navigate li{
	 display: inline;
}

#navlink {
	 text-decoration: none;
	 font: 120%;
}

#bibfile {
	 background: lightgrey;
	 width: 30%;
}

#citation {
	 background: lightgreen;
}

#entrylink {
	 text-decoration: none;
	 color: black;
}
a#entrylink:hover {
	 color: blue;
}

#pdf {
	 text-decoration: none;
}

#url {
	 text-decoration: none;
}
#entrylist {
	 width: 50%;
}

pre#bibtex {
	 background: lightyellow;
}

#taglist a:hover
{
background-color: #369;
color: #FFF;
}

h1,h2,h3,h4,h5,h6{
    border-bottom: 1px solid #aaa;
}

h1 { font: 140% sans-serif }
h2 { font: bold 120% sans-serif }
h3, h4, h5, h6 { font: bold 100% sans-serif }